*{
    margin: 0;
    padding: 0;
}

.main{
    background-image: url(ruiz.bg/bgg.jpg);
    width: auto;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #2600ff;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    float: left;
    padding-top: 30px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: hwb(0 2% 73%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #0099ff;
}
.content{
    width:1200px;
    height: auto;
    margin: auto;
    color: rgb(107, 6, 53);
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom:20px;
    font-family: Times;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Trebuchet MS';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: hwb(187 3% 38%);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: hsl(276, 95%, 25%);
    transition: .3s ease;
}

.cn:hover{
    background-color: #eb0d7c;
}

.content span{
    color: #ff7200;
    font-size: 65px
}


.home {
    background: url(./ruiz.bg/yaaann.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;  
}

.home-sci a::before{
    content: '';
    position: absolute;
    width: 100;
    height: 100;
    background: linear-gradient(45deg,#f06,#3cf,#f06);
    border-radius: 50%;
    z-index: -1 ;
    transition: .5s ease;
}
.home-sci a::after{
    content: '';
    position: absolute;
    width: 100;
    height: 100;
    background-color: #3bb3eb;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1 ;
    transition: .5s ease;
}
.about {
    background-image: url('ruiz.bg/na.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 70;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}
.here {
    background-image: url('ruiz.bg/na.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 70;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.portfolio {
    background-color: rgb(134, 6, 57);
    text-align: center;
}